.item {
    position: relative;
    width: 360px;
    height: 232px;
    margin-top: 31px;
    border-radius: 8px;
}

.item:not(:nth-child(3n)){
    margin-right: 40px;
}

.angle, .angle_2, .text {
    position: absolute;
    left: 0;
    bottom:0;
}

.text {
    margin-left: 24px;
    margin-bottom: 17px;
}

.discount {
    font-family: 'Euclid Circular A 600';
    font-size: 24px;
    line-height: 32px;
    color: var(--color_white_1);
    text-shadow: 0px 1px 1px var(--color_text_shadow);
    margin-bottom: 8px;
}

.description, .description_2 {
    width: 176px;
    font-family: 'Euclid Circular B 300';
    font-size: 24px;
    line-height: 32px;
    color: var(--color_white_1);
    text-shadow: 0px 1px 1px var(--color_text_shadow);
}

.description_2 {
    width: 100%;
}


@media (max-width: 360px){
    
    .item {
        width: 328px;    
    }

    .item img {
        object-fit: cover;
        width: 328px;
        height: 232px;
        border-radius: 8px;
      }

    .angle_2 {
        width: 328px;
        bottom: -3px;
    }
}


