.container {
    position: relative;
    width: 420px;
    height: 616px;
}

.window {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.slides {
    height: 100%;
    width: 1260px;
    display: flex;
}

.switch {
    position: absolute;
    display: flex;
    z-index: 1;
    left: 300px;
    top: 560px;
}

.button {
    position: relative;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #FFFFFF;
}

.button svg {
    position: absolute;
    display: none;
    left: -4px;
    bottom: -4px;
}

.button:not(:first-child) {
    margin-left: 16px;
}

.active {
    background-color: #D9C287;
}