.container {
    position: relative;
    margin-top: 90px;
    text-align: center;
    
}

.title {
    margin-top: 74px;
    margin-bottom: 42px;
}
.title_top {
    font-family: 'SangBleu Kingdom 400';
    font-size: 40px;
    line-height: 56px;
    color: var(--color_dark_1);
}

.title_bottom {
    font-family: 'SangBleu Kingdom 700';
    font-size: 40px;
    line-height: 56px;
    color: var(--color_dark_1);
}

.description {
    font-family: 'SangBleu Kingdom 400';
    font-size: 18px;
    line-height: 32px;
    color: var(--color_dark_1);
    margin-top: 38px;
}

.about{
    font-family: 'Euclid CircularB 500';
    width: 200px;
    height: 64px;
    border: 1px solid var(--color_gold_1);
    border-radius: 8px;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: var(--color_dark_1);
    margin-top: 38px;
}


.description_container {
  width: 640px;
  margin: 0 auto;
}


@media (max-width: 360px){
    .container {
        padding-top: 67px;
        width: 328px;
        margin: 0 auto;
      }

      .description_container {
        width: 328px;
      }

      .title {
        margin-top: 60px;
        margin-bottom: 24px;
      }
      .title_top, .title_bottom {   
        font-size: 24px;
        line-height: 32px;
      }
      .description {
        margin-top: 22px;
        font-size: 18px;
        line-height: 32px;
        color: var(--color_dark_3);
      }
      .logo {
        width: 37px;
        height: 24px;
      }
}