.wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.64);
    z-index: 999;

}

.container {
    width: 100%;
    background-color:  transparent;
}

.header {
    position: relative;
    height: 80px;
    border-bottom: 1px solid rgba(196, 196, 196, 0.08);
    display: flex;
    justify-content: space-between;
    background-color:  var(--color_dark_2);
    opacity: 0.98;
}

.logo {
    position: absolute;
    top: 45%;
    left: 83px;
    transform: translate(-50%,-50%);
}

.horizontal {
    flex-basis: 50%;
    margin-left: 164px;
    display: flex;
    align-items: center;
    font-family: 'Euclid Circular B 400';
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: var(--color_white_1);
}

.horizontal ul {
    display: flex;
    margin-top: 6px;
}

.horizontal_item:not(:first-child)  {
    margin-left: 64px;
}

.horizontal_item:nth-child(2) {
    margin-left: 65px;
}

.horizontal_item:nth-child(3) {
    margin-left: 65px;
}


.horizontal_item:last-child  {
    margin-left: 64px;
}

.close {
    position: relative;
    width: 80px;
    height: 80px;
    background: var(--color_dark_1);
}

.close svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}  

.right {
    flex-basis: 26%;
    display: flex;
    align-items: center;
    margin-left: 211px;
    margin-top: 8px;
}

.key {
    position: relative;
    top: -1px;
}

.enter {
    font-family: 'Euclid CircularB 500';
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: var(--color_white_1);
    border-bottom: 2px dashed var(--color_white_1);
    margin-left: 8px;
}

.vertical {
    width: 1360px;
    background-color: var(--color_dark_2);
    opacity: 0.98;
}

.top {
    display: flex;
}

.line {
    width: 140px;
}

.line svg{
    margin-top: 32px;
    margin-left: 83px;
}

.vertical_container {
    display: flex;
    width: 100%;
}

.menu_container {
    width: 800px;
    height: 594px;
    margin-top: 23px;
    margin-left: 56px;
    display: flex;
    border-bottom: 1px solid rgba(217, 194, 135, 0.24);
}

.vertical_window {
    width: 385px;
    height: 100%;
    overflow: scroll;
}


.vector {
    position: relative;
    width: 16px;
}

.vector svg {
    position: absolute;
    top: 9px;
    right: 0;
}

.vertical_item {
    position: relative;
    width: 360px;
    height: 64px;
    border-radius: 8px;
    display: flex;
    align-items: center;

}
.text { 
    font-family: 'Euclid Circular B 300';
    font-size: 24px;
    line-height: 32px;
    color: var(--color_white_1);
    text-shadow: 0px 1px 1px var(--color_text_shadow);
    margin-left: 24px; 
}

.vertical_item:hover {
    cursor: pointer;
    text-shadow: none;
    background-color: rgba(217, 194, 135, 0.16);
}

::-webkit-scrollbar {
    width: 6px; 
    height: 100%;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(217, 194, 135, 0.32);
    border-radius: 8px;
}

.slider_container {
    width: 420px;
}

.slide {
    position: relative;
    width: 100%;
    background-image:url('../../Assets/Img/slide.png');
}

.angle {
    position: absolute;
    bottom: 0;
    left: 0;
}

.more {
    width: 200px;
    height: 64px;
    border-radius: 8px;
    background-color:  var(--color_gold_2);
    font-family: 'Euclid CircularB 500';
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: var(--color_white_1);  
    margin-top: 25px;
}

.slider_title {
    font-family: 'SangBleu Kingdom 700';
    font-size: 40px;
    line-height: 56px;
    color: var(--color_white_1);
    text-shadow: 0px 1px 1px var(--color_text_shadow);
}

.slider_text {
    font-family: 'Euclid Circular B 300';
    font-size: 24px;
    line-height: 32px;
    color: var(--color_white_1);
    text-shadow: 0px 1px 1px var(--color_text_shadow);
    margin-top: 1px;
}

.slider_info {
    position: absolute;
    margin-left: 40px;
    margin-top: 398px;
}

.info {
    height: 75px;
    display: flex;
    justify-content: flex-end;
    margin-right: 60px;
    margin-top: -4px;
    font-family: 'Euclid CircularB 500';
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: var(--color_white_1);
    opacity: 0.64;
}

.mail {
    margin-top: 27px;
}

.ru {
    display: none;
    position: absolute;
    width: 80px;
    height: 80px;
    left: 0px;
    top: 0px;
    font-family: 'Euclid Circular B 300';
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: var(--color_white_1);
}

.mobile_border {
    width: 328px;
    height: 1px;
    margin: 0 auto;
    background-color: rgba(217, 194, 135, 0.08);
}

.arrow {
    position: absolute;
    left: 322px;
    top: 24px;
}

.mobile_bottom {
    font-family: 'Euclid CircularB 500';
    text-align: center;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: var(--color_white_1);
}

.find {
    width: 328px;
    height: 64px;
    border-radius: 8px;
    background-color: var(--color_gold_2);
    margin-top: 39px;
}

.about {
    margin-top: 41px;
}

.about_line:not(:first-child){
    margin-top: 14px;
}

.about_line span:not(:first-child) {
    margin-left: 32px;
}

.about_line:last-child {
    margin-top: 16px;
    margin-left: -7px;
}

.socials {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.social {
    position: relative;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 1px solid var(--color_gold_1);
}

.social:not(:first-child){
    margin-left: 24px;
}

.social svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.telephon {
    margin-top: 31px;
    margin-left: 2px;
}

.close_container {
    position: absolute;
    right: 0;
}

@media (max-width: 360px){

    .wrapper {
        background-color: transparent;
    }

    .vertical_container {
        background-color: rgba(36, 36, 36, 0.98);
    }

    .menu_container {
        margin: 0;
        height: 641px;
    }

    .vertical_window {
        width: 100%;
    }
    
    .vertical_item {
        width: 100%;
        height: 55px;
    }
    .logo {
        left: 50%;
    }

    .header, .close {
        border-bottom: 1px solid rgba(196, 196, 196, 0.08);
    }
    .header {
        background-color:var(--color_dark_1);    
        opacity: 1;    
    }
    .vertical {
        width: 100%;
    }

    .horizontal, .line, .vector, .slider_container, .right {
        display: none;
    }

    .ru {
        display: block;
    }

    .text {
        display: flex;
        align-items: center;
        font-size: 20px;
        line-height: 32px;
        margin-left: 16px;
    }

    .text svg {
        display: block;
    }

    .info {
        margin: 0;
        justify-content: center;
        margin-top: 16px;
    }

    .bottom {
        display: block;
    }

    .mail {
      margin: 0;
    }
}