@font-face {
    font-family: 'Euclid CircularB 500';
	src: local('Euclid CircularB 500'),
		url('../../Assets/Fonts/euclidcircularb/EuclidCircularB-Medium.woff2') format('woff2'), 
		url('../../Assets/Fonts/euclidcircularb/EuclidCircularB-Medium.woff')  format('woff'),
		url('../../Assets/Fonts/euclidcircularb/EuclidCircularB-Medium.ttf')  format('ttf'),
		url('../../Assets/Fonts/euclidcircularb/EuclidCircularB-Medium.eot')  format('eot');
}

@font-face {
    font-family: 'Euclid Circular B 400';
	src: local('Euclid Circular B 400'),
		url('../../Assets/Fonts/euclidcircularb/EuclidCircularB-Regular.woff2') format('woff2'), 
		url('../../Assets/Fonts/euclidcircularb/EuclidCircularB-Regular.woff')  format('woff'),
		url('../../Assets/Fonts/euclidcircularb/EuclidCircularB-Regular.ttf')  format('ttf'),
		url('../../Assets/Fonts/euclidcircularb/EuclidCircularB-Regular.eot')  format('eot');
}

@font-face {
    font-family: 'Euclid Circular B 300';
	src: local('Euclid Circular B 300'),
		url('../../Assets/Fonts/euclidcircularb/EuclidCircularB-Light.woff2') format('woff2'), 
		url('../../Assets/Fonts/euclidcircularb/EuclidCircularB-Light.woff')  format('woff'),
		url('../../Assets/Fonts/euclidcircularb/EuclidCircularB-Light.ttf')  format('ttf'),
		url('../../Assets/Fonts/euclidcircularb/EuclidCircularB-Light.eot')  format('eot');
}

@font-face {
    font-family: 'SangBleu Kingdom 700';
	src: local('SangBleu Kingdom 700'),
		url('../../Assets/Fonts/SangBleuKingdom/SangBleuKingdom-Bold-WebXL.woff')  format('woff'),
        url('../../Assets/Fonts/SangBleuKingdom/SangBleuKingdom-Bold-WebXL.ttf')  format('ttf');
}

.wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.64);
    z-index: 999;

}

.container {
    width: 100%;
    background-color:  transparent;
}

.header {
    position: relative;
    height: 80px;
    border-bottom: 1px solid rgba(196, 196, 196, 0.08);
    display: flex;
    justify-content: space-between;
    background-color:  #242424;
    opacity: 0.98;
}

.logo {
    position: absolute;
    top: 50%;
    left: 83px;
    transform: translate(-50%,-50%);
}

.horizontal {
    flex-basis: 50%;
    margin-left: 164px;
    display: flex;
    align-items: center;
    font-family: 'Euclid Circular B 400';
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.horizontal_item:not(:first-child)  {
    margin-left: 64px;
}

.close {
    position: relative;
    width: 80px;
    height: 80px;
    background: #3D3C3C;
}

.close svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}  

.right {
    flex-basis: 26%;
    display: flex;
    align-items: center;
    margin-left: 100px;
}

.key {
    position: relative;
}

.enter {
    font-family: 'Euclid CircularB 500';
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #FFFFFF;
    border-bottom: 2px dashed #FFFFFF;
    margin-left: 8px;
}

.vertical {
    width: 1360px;
    background-color: #242424;
    opacity: 0.98;
}

.top {
    display: flex;
}

.line {
    width: 140px;
}

.line svg{
    margin-top: 32px;
    margin-left: 83px;
}

.vertical_container {
    display: flex;
    width: 100%;
    border-bottom: 1px solid rgba(217, 194, 135, 0.24);
}

.menu_container {
    width: 813px;
    margin-top: 39px;
    display: flex;
}

.vertical_window {
    width: 385px;
    height: 100%;
    overflow: scroll;
}


.vector {
    position: relative;
    width: 15px;
}

.vector svg {
    position: absolute;
    top:0;
    right: 0;
}

.vertical_item {
    position: relative;
    width: 360px;
    height: 64px;
    border-radius: 8px;
    display: flex;
    align-items: center;

}
.text { 
    font-family: 'Euclid Circular B 300';
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF;
    margin-left: 24px; 
}

.vertical_item:hover {
    cursor: pointer;
    background-color: rgba(217, 194, 135, 0.16);
}

::-webkit-scrollbar {
    width: 6px; 
    height: 100%;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(217, 194, 135, 0.32);
    border-radius: 8px;
}

.slider_container {
    width: 420px;
}

.slide {
    position: relative;
    width: 100%;
    background-image:url('../../Assets/Img/slide.png')
}

.angle {
    position: absolute;
    bottom: 0;
    left: 0;
}

.more {
    width: 200px;
    height: 64px;
    border-radius: 5px;
    background-color:  #BCA56A;
    font-family: 'Euclid CircularB 500';
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #FFFFFF;  
    margin-top: 25px;
}

.slider_title {
    font-family: 'SangBleu Kingdom 700';
    font-size: 40px;
    line-height: 56px;
    color: #FFFFFF;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.32);
}

.slider_text {
    font-family: 'Euclid Circular B 300';
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.32);
}

.slider_info {
    position: absolute;
    margin-left: 40px;
    margin-top: 398px;
}

.bottom {

}

.info {
    height: 71px;
    display: flex;
    justify-content: flex-end;
    margin-right: 60px;
    font-family: 'Euclid CircularB 500';
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #FFFFFF;
    opacity: 0.64;
}

.mail {
    margin-top: 27px;
}

.ru {
    display: none;
    position: absolute;
    width: 80px;
    height: 80px;
    left: 0px;
    top: 0px;
    font-family: 'Euclid Circular B 300';
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.mobile_border {
    width: 328px;
    height: 1px;
    margin: 0 auto;
    background-color: rgba(217, 194, 135, 0.08);;
}

.arrow {
    position: absolute;
    left: 322px;
    top: 24px;
}

.mobile_bottom {
    font-family: 'Euclid CircularB 500';
    text-align: center;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.find {
    width: 328px;
    height: 64px;
    border-radius: 5px;
    background-color: #BCA56A;
    margin-top: 39px;
}

.about {
    margin-top: 44px;
}

.about_line:not(:first-child){
    margin-top: 14px;
}

.about_line span:not(:first-child) {
    margin-left: 32px;
}

.socials {
    display: flex;
    justify-content: center;
    margin-top: 22px;
}

.social {
    position: relative;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 1px solid #D9C287;
}

.social:not(:first-child){
    margin-left: 24px;
}

.social svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.telephon {
    margin-top: 34px;
}

.close_container {
    position: absolute;
    right: 0;
}

@media (max-width: 360px){

    .wrapper {
        background-color: transparent;
    }

    .vertical_container {
        background-color: rgba(36, 36, 36, 0.98);
    }

    .menu_container {
        margin: 0;
    }

    .vertical_window {
        width: 100%;
    }
    
    .vertical_item {
        width: 100%;
        height: 56px;
    }
    .logo {
        left: 50%;
    }

    .header, .close {
        border-bottom: 1px solid rgba(196, 196, 196, 0.08);
    }
    .header {
        background-color:#3D3C3C;    
        opacity: 1;    
    }
    .vertical {
        width: 100%;
    }

    .horizontal, .line, .vector, .slider_container, .right {
        display: none;
    }

    .ru {
        display: block;
    }

    .text {
        display: flex;
        align-items: center;
        font-size: 20px;
        line-height: 32px;
    }

    .text svg {
        display: block;
    }

    .info {
        margin: 0;
        justify-content: center;
        margin-top: 16px;
    }

    .bottom {
        display: block;
    }
}