.container {
    height: 577px;
    width: 357px;
    margin-top: 6px;
    padding-left: 39px;
    position: relative;
}

.title {
    font-family: 'Euclid Circular B 300';
    font-size: 24px;
    line-height: 32px;
    color: var(--color_white_1);
    text-shadow: 0px 1px 1px var(--color_text_shadow);
    margin-top: 10px;
}

.title:nth-child(2) {
  margin-top: 32px;
}

.title:hover {
    cursor: pointer;
    color: var(--color_gold_1);
}

.description{
    position: absolute;
    bottom: 24px;
    font-family: 'Euclid Circular B 300';
    font-size: 16px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.48);
}

@media (max-width: 360px){
  .container {
    display: none;
  }  
}